<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ greeting.title }}</title>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/gauge.min.css', _external=True) }}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico', _external=True) }}"
          type="image/x-icon">
    <script>
        var testGlobals = {{ data_ip  | tojson | safe }};
        var testReport = {{  data_rep | tojson | safe }};
        var subdomain = "{{ greeting.subdomain }}";
        var rootDomain = "{{ greeting.rootDomain }}";
        var backgroundColor = "{{ greeting.backgroundColor }}";
        var primaryColor = "{{ greeting.primaryColor }}"
    </script>
    <script src="{{ url_for('static', filename='js/index.js', _external=True) }}"></script>
</head>
<body style='margin:0;padding:0;height:100%;'>
<div id="root"></div>
<script src="{{ url_for('static', filename='js/testBundle.js', _external=True) }}" crossorigin></script>
</body>
</html>